#submitID {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  background-color: red;
  margin: 8px 0;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.form-container {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.form-item {
  padding: 0.5rem;
  text-align: center;
}
#loading {
  visibility: hidden;
  color: red;
  animation: loader 2s ease-in infinite;
}
@keyframes loader {
  0% { 
    transform: scaleX(0);
    transform-origin: bottom left;
  } 
  50% { 
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
    transform-origin: bottom right;
  }
}
#steamID {
  width: 220px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
}
#myList {
  width: 300px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
}
#submitID:hover {
  cursor: pointer;
}
.itemHeadings {
  color: white;
  font-size: 2rem;
  text-shadow: 2px 1px 2px red;
  font-family: 'Staatliches', cursive;
}
#form_bg {
  background-color: #262626;
  color: white;
}
.id_disp {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 1px 2px rgb(255, 0, 0);
  font-family: 'Staatliches', cursive;
}
#invTable {
  background-color: #000;
  opacity: 0.9;
  overflow: auto;
  height: 22rem;
  display: none;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.3rem;
  text-align: center;
}
.moreInfo > .underline:hover {
  text-shadow: 0px 0px 4px black;
}