.form-container {
  transform: scaleY(0);
  height: 10vh;
  padding: 0.5rem;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 33%);
  animation-name: flip;
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.18,.89,.32,1.28);
}
.form-item {
  color: white;
  height: 3rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;  
}
#form_bg {
  transform: scaleY(0);
  background-color: #262626;
  animation-name: flip;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.id_disp {
  transform: scaleY(0);
  padding: 1rem;
  font-size: 5vh;
  color: white;
  text-shadow: 2px 1px 2px rgb(0, 0, 0);
  background-color: rgba(0,0,0,0.5);
  font-family: 'Staatliches', cursive;
  display: flex;
  flex-direction: row;
  animation-name: flip;
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.18,.89,.32,1.28);
}
@keyframes flip {
  100% {
    transform-origin: top;
    transform: scaleY(1);
  }
}
#accID {
  margin-right: auto;
}
#loading {
  visibility: hidden;
  color: red;
  animation: loader 2s ease-in-out infinite;
}
@keyframes loader {
  0% { 
    transform: scaleX(0);
    transform-origin: bottom left;
  } 
  50% { 
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
    transform-origin: bottom right;
  }
}
#steamID {
  background-color: black;
  box-sizing: border-box;
}
#myList {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;background-color: black;
  box-sizing: border-box;
}
#submitID {
  background-color: red;
  color: black;
  transition-property: border-radius;
  transition-duration: 1s;
}
#submitID:hover {
  cursor: pointer;
  border-radius: 0;
}
.itemHeadings {
  color: white;
  font-size: 2rem;
  text-shadow: 2px 1px 2px red;
  font-family: 'Staatliches', cursive;
}
  #invTable {
    background-color: #000;
    opacity: 0.9;
    height: 55vh;
    width: 100%;
    display: none;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.3rem;
    text-align: center;
    animation: wipeEnter 0.5s;
  }
  @keyframes wipeEnter {
    0% {
      transform: scaleY(0.025);
    }
}
.gridHead {
  display: grid;
  grid-template-columns: [start] 50% [line2] 15% [line3] 35% [end];
  text-align: center;
  height: 3rem;
  color: white;
}
.moreInfo {
  display: grid;
  grid-template-columns: [start] 50% [line2] 15% [line3] 35% [end];
  text-align: center;
  height: 2.7rem;
  color: white;
}
.itemsGrid {
  overflow: auto;
  height: calc(55vh - 3rem);
}
.underline-table {
  position: relative;
}
.underline-table:after {
  content: '';
  position: absolute;
  width: 95%;
  margin: auto 2.5% 10px 2.5%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}
.underline-table:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.item-name {
  transition-property: color;
  transition-duration: 0.5s;
}
.item-name:hover {
  cursor: pointer;
  color: red;
  transition-property: color;
  transition-duration: 0.5s;
}
@media screen and (orientation:portrait) and (max-width: 1100px) {
  .form-container {
    height: 20vh;
    min-height: 150px;
    padding: 0.5rem;
    grid-template-columns: [start] 100% [end];
    align-items: center;
    grid-gap: 0.5rem;
  }
  .form-item {
    color: white;
    height: 4.3vh;
    font-size: 2.5vw;
    width: 50vw;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
  }
  .id_disp {
    font-size: 3vh;
    color: white;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.5);
    font-family: 'Staatliches', cursive;
    display: flex;
    flex-direction: column;
  }
}