body {
    background-color: rgb(43, 0, 0);
    background-repeat: no-repeat;
    overflow-x: none;
}
#csgoInfo:hover {
    cursor: pointer;
    color: red;
}
.grid-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #262626;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    height: 12vh;
}
.grid-item {
    color: white;
    text-align: center;
    padding: 0.5rem;
}
#pop_whatsSteamID
{
    font-size: 17px;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
#pop_whatsCsgo {
    font-size: 17px;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
#pop_whatsSteamID-content {
    z-index: 0;
    position: relative;
    background-color: rgb(0, 0, 43);
    padding: 20px;
    border: 1px solid #888;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    margin: auto;
    width: 80%;
    overflow: hidden;
    grid-template-columns: [start] 55% [line2] auto [line3] 10px [end];
    grid-template-rows: [start] 10px [line2] 100% [end];
}
#pop_whatsSteamID-content > p {
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-shadow: 2px 1px 2px black;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#pop_whatsSteamID-content > iframe {
    align-items: center;
    width: 95%;
    height: 95%;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.bgShine-whatsSteamID {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -500px;
    width: 900px;
    height: 900px;
    background-color: blue;
    transform: rotate(45deg);
}
#pop_whatsCsgo-content {
    z-index: 0;
    background-color: rgb(0, 43, 0);
    position: relative;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    overflow: auto;
    font-family: 'Roboto Condensed', sans-serif;
}
#pop_whatsCsgo-content > p {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    text-shadow:  1px 1px 2px black;
    background-color: rgba(0,0,0,0.5);
}
.bgShine-whatsCsgo {
    position: absolute;
    z-index: -1;
    top: 80px;
    left: -150px;
    width: 300px;
    height: 300px;
    background-color: lime;
    transform: rotate(45deg);
}
.underline {
    display: inline-block;
    position: relative;
    width: auto;
}
.underline:hover {
    cursor: pointer;
    color: red;
}
.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#popClose {
    margin: auto;
    color: blue;
    float: right;
    font-size: 48px;
    font-weight: bold;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}
#popClose:hover,
#popClose:focus
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
#popCloseWhatsCsgo {
    color: lime;
    float: right;
    font-size: 48px;
    font-weight: bold;
}
#popCloseWhatsCsgo:hover, #popCloseWhatsCsgo:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
.aboutCsgo {
    font-size: 25px;
    color: lime;
    font-style: oblique;
    font-weight: 800;
}
#form_th {
    width: 85vw;
    margin: 0 auto;
}
#welcome {
    color: white;
    font-size: 2.5rem;
    margin-right: auto;
}
#proScene {
    display: flex;
    flex-direction: row;
}
#proSceneVid {
    margin-right: auto;
    box-shadow: 0 2px 6px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}
#proSceneImg-Content {
    width: 400px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    margin-bottom: 25px;
}
#polaroid {
    color: black;
    text-align: center;
    padding: 10px 20px;
}

@media screen and (max-width: 1100px) {
    .grid-container {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        font-size: 2.6vh;
    }
    #proScene {
        display: flex;
        flex-direction: column;
    }
    #proSceneVid {
        margin-right: auto;
        box-shadow: 0 2px 6px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    }
    #welcome {
        margin: auto;
        font-size: 4vh;
    }
    #pop_whatsSteamID-content {
        display: flex;
        flex-direction: column;
    }
    #popClose {
        margin-right: 0;
    }
}
.bgShine1 {
    z-index: -1;
    position: absolute;
    bottom: 10vh;
    right: -15vh;
    width: 30vh;
    height: 30vh;
    background-color: rgba(253, 0, 0, 0.623);
    transform: rotate(45deg);
}
.bgShine2 {
    z-index: -1;
    position: absolute;
    top: 17.5vh;
    left: -7.5vh;
    width: 15vh;
    height: 15vh;
    background-color: rgb(253, 0, 0);
    transform: rotate(45deg);
}